#content {

	text-align: center;
	padding-top: 1%;
}


body {

	font-family: lato;
}

h1,h2 {

	font-weight: 700;
	font-size: 4em;
}

hr{

	width: 510px;
	border-top: 5px solid #f8f8f8;
	border-bottom: 1px solid rgbs(0,0,0,0,2);
}